### My Dataset to work with for the Gathi Mini Bootcamp

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import wrangle
from sklearn.model_selection import train_test_split

In [3]:
# create df from csv file
df = pd.read_csv('insurance_data.csv')
print('shape:', df.shape)
df.head()

shape: (10000, 38)

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,A,Total Loss,Police,0,1,CO,Grand Junction,19,AGENT00883,VNDR00031
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,A,Minor Loss,Ambulance,0,0,GA,Savannah,12,AGENT00278,VNDR00075
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,A,Major Loss,Police,0,1,TN,Nashville,18,AGENT00636,VNDR00472

In [4]:
# look at some of the df details of the types in the df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TXN_DATE_TIME             10000 non-null  object
 1   TRANSACTION_ID            10000 non-null  object
 2   CUSTOMER_ID               10000 non-null  object
 3   POLICY_NUMBER             10000 non-null  object
 4   POLICY_EFF_DT             10000 non-null  object
 5   LOSS_DT                   10000 non-null  object
 6   REPORT_DT                 10000 non-null  object
 7   INSURANCE_TYPE            10000 non-null  object
 8   PREMIUM_AMOUNT            10000 non-null  float64
 9   CLAIM_AMOUNT              10000 non-null  int64
 10  CUSTOMER_NAME             10000 non-null  object
 11  ADDRESS_LINE1             10000 non-null  object
 12  ADDRESS_LINE2             1495 non-null   object
 13  CITY                      9946 non-null   object
 14  STATE                     10000 non-null  object
 15  POSTAL_CODE               10000 non-null  int64
 16  SSN                       10000 non-null  object
 17  MARITAL_STATUS            10000 non-null  object
 18  AGE                       10000 non-null  int64
 19  TENURE                    10000 non-null  int64
 20  EMPLOYMENT_STATUS         10000 non-null  object
 21  NO_OF_FAMILY_MEMBERS      10000 non-null  int64
 22  RISK_SEGMENTATION         10000 non-null  object
 23  HOUSE_TYPE                10000 non-null  object
 24  SOCIAL_CLASS              10000 non-null  object
 25  ROUTING_NUMBER            10000 non-null  int64
 26  ACCT_NUMBER               10000 non-null  object
 27  CUSTOMER_EDUCATION_LEVEL  9471 non-null   object
 28  CLAIM_STATUS              10000 non-null  object
 29  INCIDENT_SEVERITY         10000 non-null  object
 30  AUTHORITY_CONTACTED       10000 non-null  object
 31  ANY_INJURY                10000 non-null  int64
 32  POLICE_REPORT_AVAILABLE   10000 non-null  int64
 33  INCIDENT_STATE            10000 non-null  object
 34  INCIDENT_CITY             9954 non-null   object
 35  INCIDENT_HOUR_OF_THE_DAY  10000 non-null  int64
 36  AGENT_ID                  10000 non-null  object
 37  VENDOR_ID                 6755 non-null   object
dtypes: float64(1), int64(9), object(28)
memory usage: 2.9+ MB

In [5]:
print('There are %d missing values in total.' % df.isna().sum().sum())

There are 12379 missing values in total.